.App {
  text-align: center;
}

.Heading {
  border: 4px solid green;
}

h1 {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.LoggedIn {
  border: 2px solid lightblue;
  float: right;
  margin-top: -7rem;
  margin-right: 0.5rem;
  font-size: 13px;
}

@media (max-width: 991px) {
  .LoggedIn {
    margin-top: -7rem;
    margin-right: 0.5rem;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .LoggedIn {
    margin-top: -7rem;
    margin-right: 0.5rem;
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .LoggedIn {
    margin-top: -7rem;
    margin-right: 0.5rem;
    font-size: 11px;
  }
}

.paragraph:first-of-type {
  margin-bottom: 1rem;
}

.allParagraphs {
  border: 4px solid rgb(0, 124, 128);
  margin-top: 1rem;
  width: 500px;
  height: 220px;
  overflow: auto;
  margin: 50px auto;
}

@media (max-width: 575px) {
  .allParagraphs {
    margin-top: 1rem;
    width: 500px;
    height: 460px;
    font-size: 1.5rem;
    overflow: auto;
    margin: 50px auto;
  }
}

@media (max-width: 767px) {
  .allParagraphs {
    margin-top: 1rem;
    width: 500px;
    height: 350px;
    font-size: 1.3rem;
    overflow: auto;
    margin: 50px auto;
  }
}

@media (max-width: 991px) {
  .allParagraphs {
    margin-top: 1rem;
    width: 500px;
    height: 350px;
    font-size: 1.3rem;
    overflow: auto;
    margin: 50px auto;
  }
}

@media (max-width: 2000px) {
  .allParagraphs {
    margin-top: 1rem;
    width: 500px;
    height: 380px;
    font-size: 1.3rem;
    overflow: auto;
    margin: 50px auto;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 98.7%;
  border: 4px solid rgb(34, 0, 128);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  flex: 1;
  text-align: center;
  margin-right: 1rem;
  color: rgb(167, 27, 27);
}

.review_image {
  width: 210px;
  height: 210px;
  border-radius: 10%;
}

.reviewCard {
  list-style: none;
  border: 4px solid rgb(0, 105, 128);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 4rem;
}

.votes-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.thumbs-up,
.thumbs-down {
  margin: 0 1rem;
}

.IndReviewCard {
  border: 4px solid rgb(0, 105, 128);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ReviewComment {
  border: 4px solid rgb(128, 0, 0);
  margin-top: 1rem;
  list-style: none;
}
